*{
    padding: 0;
    margin: 0;
}
nav{
    background: inherit;
    height: 100px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    border: none;
    font-size: 100%;
    cursor: pointer;
    background: inherit;
}
button:hover{
    color: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:100px ;
}
p{
    font-size: 20px;
    width:90%;
}
#p1{
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:80%;
}
#insta{
    height: 5%;
    border-radius:50px;
}
@keyframes animation1{
    0%{
        background-position:0% 50% ;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
body{
    background: linear-gradient(45deg,rgb(0, 0, 255),rgb(8, 255, 8),yellow,aqua);
    animation: animation1 15s ease infinite;
    background-size: 300% 300%;
}
#lobo{
    border-radius: 150px;
    height: 300px;
    animation: float 4s ease infinite;
}
@keyframes float{
    0%,100%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-30px);
    }
}
#what{
    height: 5%;
    border-radius: 50px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.scrollTop{
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid black;
}
.scrollTop.active{
    display: flex;
    align-items: center;
    justify-content: center;
}